.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(72, 72, 72, 0.95);
  padding: 10px;

  h2 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 70px;
  }

  input {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 50px;
    border: 1px solid;
    position: absolute;
    width: 40%;
    height: 70%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgb(6, 5, 5);
  }

  .modal-input {
    font-size: 1rem;
    font-weight: normal;
    border: 1px solid;
  }

  .modal-submit-btn:hover {
    cursor: pointer;
    background-color: #aaa;
  }
}

.VideoList-title {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.VideoList {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

@media (max-width: 800px) {
  .Modal .modal-form {
    width: 70%;
  }
}
