.VideoList-title {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.VideoList {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

// .VideoList {
//   margin-top: 30px;
//   display: grid;
//   gap: 40px;

//   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
// }
