.VideoCard {
  background-color: rgb(23, 23, 23);
  --lh: 1.4rem;
  line-height: var(--lh);

  width: 200px;
  height: 200px;
  border-radius: 4px;
  margin: 10px;
  padding: 6px;
  // box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.3);
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);

  transition: transform 0.3s;

  &:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
    // padding: 20px;
  }

  cursor: pointer;

  img {
    width: 100%;
  }

  .card-title {
    color: white;
    text-align: center;
    overflow: hidden;
    --max-lines: 2;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
  }
}
