.ModalForm {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(72, 72, 72, 0.95);
  padding: 10px;

  h2 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 70px;
  }

  input {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 60px;
    border: 1px solid;
    position: absolute;
    width: 40%;
    height: 70%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgb(6, 5, 5);
  }

  .modal-input {
    font-size: 1rem;
    font-weight: normal;
    border: 1px solid;
  }

  .modal-submit-btn:hover {
    cursor: pointer;
    background-color: #aaa;
  }
}

@media (max-width: 1000px) {
  .ModalForm .modal-form {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .ModalForm .modal-form {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .ModalForm {
    .modal-form {
      align-items: center;

      height: 60%;
      padding: 10px;
      width: 70%;
    }
    h2 {
      font-size: 2rem;
    }
    input {
      width: 90%;
      font-size: 1rem;
    }
  }
}
