.loading-yt {
  position: absolute;
  top: 60%;
  left: 60%;
}

.App {
  position: relative;

  .main-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../../images/headphones.jpg');
    background-size: cover;
    background-position: 25% 40%;
    animation: animatedBg 2s;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      border: 1px solid;
      height: 100vh;
      width: 100%;

      .main-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 40%;
        height: 40%;
        // border: 1px solid;

        font-size: 4rem;
        margin: 10% 5%;
        animation: slidingText 2s;
      }

      button:hover {
        cursor: pointer;
        transform: translateY(-20%);
        background: black;
        color: white;
      }

      .explore-btn {
        transition: 0.5s;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: white;
        border: 1px solid;
        border-radius: 10px;

        width: 20%;
        margin-left: 10%;
        background-color: white;
        color: black;
        padding: 20px 0;
        animation: slidingBtn 3s;
        opacity: 1;

        position: absolute;
        bottom: 20%;
        left: 0%;
      }
    }
  }

  .main-section {
    max-width: 100vw;
    margin-top: 70px;
    height: calc(100vh - 70px);
  }

  hr {
    border: 1px solid rgb(232, 232, 232);
  }
}

@keyframes animatedBg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slidingText {
  0% {
    transform: translateX(-200%);
  }

  25% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slidingBtn {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }

  50% {
    transform: translateY(200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes animatedText {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .App {
    .main-image {
      .content {
        .main-text {
          font-size: 4rem;
          margin: 15% 5%;
        }

        .explore-btn {
          bottom: 15%;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .App {
    .main-image {
      .content {
        .main-text {
          font-size: 4rem;
          margin: 15% 5%;
        }

        .explore-btn {
          bottom: 17%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .App {
    .main-image {
      .content {
        .main-text {
          width: 45%;
          margin: 12% 5%;
        }
        .explore-btn {
          bottom: 12%;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .App {
    .main-image {
      .content {
        .main-text {
          width: 50%;
          font-size: 3.5rem;
          margin: 17% 5%;
          animation: slidingText 2s;
        }

        .explore-btn {
          position: absolute;
          margin-bottom: 0%;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .App {
    .main-image {
      .content {
        .main-text {
          width: 50%;
          height: 50%;
          font-size: 3rem;
          margin: 15% 5%;
        }

        .explore-btn {
          position: absolute;
          margin-bottom: 5%;
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .App {
    // position: relative;

    .main-image {
      background-position: 25% 100%;

      .content {
        position: relative;

        .main-text {
          width: 60%;
          height: 20%;

          font-size: 3rem;
          margin: 40% 5%;
        }

        .explore-btn {
          width: 150px;
          position: absolute;
          margin-bottom: 0%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .App {
    // position: relative;

    .main-image {
      background-position: 25% 100%;

      .content {
        position: relative;

        .main-text {
          width: 70%;
          height: 20%;

          font-size: 3rem;
          margin: 50% 5%;
        }

        .explore-btn {
          width: 150px;
          position: absolute;
          margin-bottom: 0%;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .App {
    // position: relative;

    .main-image {
      background-position: 25% 100%;

      .content {
        position: relative;

        .main-text {
          width: 90%;
          height: 20%;

          font-size: 2.5rem;
          margin: 60% 5%;
        }

        .explore-btn {
          width: 150px;
          margin-bottom: -5%;
        }
      }
    }
  }
}
