.PageHeader {
  text-align: center;
  margin-top: 120px;
  padding: 40px 0;
  animation: 4s animatedText;

  h3 {
    font-size: 5rem;
  }
  p {
    color: rgb(67, 66, 66);
    font-size: 3rem;
  }
}
