.UserRoomCard {
  position: relative;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    background-color: rgb(72, 72, 72);
    padding: 0px;
  }

  img {
    width: 100%;
  }

  div {
    // border: 1px solid;
    padding: 10px;
  }

  // .video-title {
  //   border-radius: 5px;
  //   opacity: 0;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  // }

  // .video-title:hover {
  //   transition: opacity 0.2s;
  //   opacity: 1;
  //   color: white;
  //   background-color: rgba(0, 0, 0, 0.8);
  // }
}
