.UserRoomCard {
  position: relative;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    background-color: rgb(72, 72, 72);
    padding: 0px;
  }

  img {
    width: 100%;
  }

  div {
    padding: 10px;
  }
}
