.YtPlaylist {
  text-align: center;

  .VideoList {
    .VideoCard {
      position: relative;
      .delete-icon {
        z-index: 100;
        // background-color: red;
        position: absolute;
        opacity: 0;
        transition: 0.5s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
