.ChatMessage {
  padding: 10px 20px;
  margin: 4px 0 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(181, 181, 181);

  border-radius: 999px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);

  .chat-user {
    font-weight: bold;
  }

  .message-time {
    display: inline-block;
    margin-left: auto;
  }
}
