.AppHeader {
  // position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  min-height: 70px;
  padding: 20px;
  // margin-bottom: 10px;
  // box-shadow: 5px 5px 20px 2px #6f6e6e;
  border-bottom: 1px solid rgb(242, 242, 242);
  box-shadow: rgba(40, 35, 45, 0.1) 0px 1px 8px 0px;
  justify-content: space-between;

  .user-name {
    font-size: large;
    margin-right: 10px;
    margin-left: auto;
  }

  .link {
    text-decoration: none;
  }

  .header-title {
    color: gray;
    font-size: 2rem;
  }

  .search-bar {
    // margin-left: auto;
  }

  .user-room {
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: red;
    }
  }
}
